<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0 />
    <title>ScrollMagic GreenSock Demo</title>
  </head>

  <body class="">
    <section id="scroll-container">
      <header>
        <h1>ScrollMagic Demo</h1>
      </header>
      <div class="scroll-block" id="red-scroll-block">
        <div><span>Red Block</span></div>
      </div>
      <div class="scroll-block" id="green-scroll-block">
        <div><span>Green Block</span></div>
      </div>
      <div class="scroll-block" id="blue-scroll-block">
        <div><span>Blue Block</span></div>
      </div>
      <footer>
      </footer>
    </section>
  </body>

</html>
