<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0 />
    <title>ScrollMagic GreenSock Demo: Text Overlay</title>
  </head>

  <body>
    <section id="overlay-demo">
      <div class="image"></div>
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
        <defs>
          <style>
            .cls-1{font-size:200px;stroke:#fff;stroke-miterlimit:10;stroke-width:3px;font-family:ArialRoundedMTBold, Arial Rounded MT Bold;}
            .cls-2{letter-spacing:-0.06em;}
          </style>
        </defs>
        <rect width="1000" height="1000"/>
        <text class="cls-1" transform="translate(194.26 555.53)">S<tspan class="cls-2" x="133.4" y="0">T</tspan><tspan x="245.8" y="0">ARS</tspan></text></svg>
    </section>
  </body>

</html>
