<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0 />
    <title>ScrollMagic GreenSock Demo</title>
  </head>

  <body class="">
    <section class="pinned-animation">
      <h1>Hero</h1>
    </section>
    <section class="pinned-animation" id="text-goes-right">
      <span>Text Animates Right</span>
    </section>
    <section class="pinned-animation" id="text-goes-left">
      <span>Text Animates Left</span>
    </section>
    <section class="pinned-animation" id="svg-arc">
      <svg viewBox="0 0 1000 1000">
        <circle class="cls-1" cx="500" cy="500" r="200"/>
      </svg>
      <div class='catbug'></div>
    </section>
    <section class="pinned-animation">
      <h1>Intentionally Left Blank</h1>
    </section>
  </body>

</html>
